
@media screen and (max-width: 768px) {
    :root {
        --margin-height: 3em;
    }
    #contain {
        /* height: auto; */
        /* height change when children height change */
        overflow: auto;
        justify-content: flex-start;
        /* align-items: flex-start; */
    }

    .cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        /* overflow: scroll; */
        padding: 5rem 0;

    }
    .card {
        gap: 3em;
        width: 70vw;
        height: 80%;
        min-height: 40rem;

    }
    .card-button {
        height: 15%;
    }
    .cards:last-child {
        margin-bottom: var(--margin-height);
    }
    /* .cards:last-child::after {
        content: " ";
        display: block;
        width: 100vw;
        height: 3em;
        background-color: var(--very-light-gray);
    } */

    #contain__footer {
        display: none;

    }
}